{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Details Form</title>
    <link rel="stylesheet" href="{% static "client/addclient.css" %}"> 
</head>
<body>
    <div class="form-container">
        <h1>Client Details Form</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.Name.label_tag }}
                {{ form.Name }}
            </div>
            <div class="form-group">
                {{ form.Company_Name.label_tag }}
                {{ form.Company_Name }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            <div class="form-group">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>
