{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Clients</title>
    <link rel="stylesheet" href="{% static "client/client_page.css" %}"> 
  </head>
  <body>
    <a href="{% url 'home_page'  %}"
      ><button class="top-left-btn">Home</button></a
    >
    <div class="container">
      <div class="grid">
        <!-- Card 1 -->
      {% for info in client_info %}
      {% comment %} <a href="{% url 'employee_detail' info.id  %}" style="text-decoration: none;"> {% endcomment %}
        <div class="card">
          <img loading="lazy" src="{{info.image.url }}" alt="Employee 1" />
          <h3>{{info.Name}}</h3>
          <p>Email: ₹ {{info.email}}</p>
          <p>Company Name: {{info.Company_Name}}</p>
        </div>
        </a>
      {% endfor %}
      </div>
    </div>
    <a href="{% url 'add-client' %}">
    <button class="bottom-center-btn">Add Client</button></a>
  </body>
</html>
