{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Details</title>
    <link rel="stylesheet" href="{% static "employee/emp_page.css" %}"> 
  </head>
  <body>
    <a href="{% url 'home_page'  %}"
      ><button class="top-left-btn">Home</button></a
    >
    <div class="container">
      <h1>ALL EMPLOYEES</h1>
      <div class="grid">
        <!-- Card 1 -->
      {% for info in employee_info %}
      <a href="{% url 'employee_detail' info.id  %}" style="text-decoration: none;">
        <div class="card">
          <img loading="lazy" src="{{info.image.url }}" alt="Employee 1" />
          <h3>{{info.Name}}</h3>
          <p>Salary: ₹ {{info.Salary}}</p>
          <p>Joining Date: {{info.Joining_Date}}</p>
        </div>
        </a>
      {% endfor %}
      </div>
    </div>
    <a href="{% url 'add_employee'  %}"
      ><button class="bottom-center-btn">Add Employee</button></a
    >
  </body>
</html>
