{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <link rel="stylesheet" href="{% static "employee/empdetails.css" %}"> 
</head>
<body>
    <div class="container">
        <h1>Employee Details</h1>
        <div class="employee-info">
            <img src="{{ employee_detail.image.url }}" alt="{{ employee_detail.Name }}">
            <p><span class="label">Name:</span> {{ employee_detail.Name }}</p>
            <p><span class="label">Salary:</span> ₹{{ employee_detail.Salary }}</p>
            <p><span class="label">Joining Date:</span> {{ employee_detail.Joining_Date }}</p>
        </div>
        <div class="note-section">
            <p><strong>Note:</strong> {{ employee_detail.note }}</p>
        </div>
    </div>
    <div class="button-container">
        <a href="{% url 'update_note' employee_detail.id %}" class="back-button">Add Note</a>
    </div>
    <div class="button-container">
        <a href="{% url 'delete_employee' employee_detail.id %}" class="back-button">Delete Employee</a>
    </div>
    <div class="button-container">
        <a href="{% url 'employee_page' %}" class="back-button">Back to Employee List</a>
    </div>
</body>
</html>