{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Details</title>
    <link rel="stylesheet" href="{% static "employee/emp_page.css" %}"> 
  </head>
  <body>
    <a href="{% url 'home_page'  %}"
      ><button class="top-left-btn">Home</button></a
    >
    <div class="container">
      <div class="grid">
        <!-- Card 1 -->
      {% for info in employee_info %}
      <a href="{% url 'employee_detail' info.id  %}" style="text-decoration: none;">
        <div class="card">
          <img loading="lazy" src="{{info.image.url }}" alt="Employee 1" />
          <h3>{{info.Name}}</h3>
          <p>Salary: ₹ {{info.Salary}}</p>
          <p>Joining Date: {{info.Joining_Date}}</p>
        </div>
        </a>
      {% endfor %}
        <!-- Card 2 -->
        {% comment %} <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 2"
          />
          <h3>Jane Smith</h3>
          <p>Position: Project Manager</p>
          <p>Department: Operations</p>
        </div>

        <!-- Card 3 -->
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 3"
          />
          <h3>Robert Johnson</h3>
          <p>Position: UX Designer</p>
          <p>Department: Design</p>
        </div>

        <!-- Additional Cards -->
        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 4"
          />
          <h3>Emily Brown</h3>
          <p>Position: Data Analyst</p>
          <p>Department: Marketing</p>
        </div>

        <div class="card">
          <img
            loading="lazy"
            src="{% static 'home/images/cashin.png' %}"
            alt="Employee 5"
          />
          <h3>Michael Wilson</h3>
          <p>Position: HR Specialist</p>
          <p>Department: HR</p>
        </div> {% endcomment %}

        <!-- Add more cards as needed -->
      </div>
    </div>
    <a href="{% url 'add_employee'  %}"
      ><button class="bottom-center-btn">Add Employee</button></a
    >
  </body>
</html>
